<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->
<!-- HEAD SECTION-->
<head>
    <meta charset="utf-8">
    <title>SONAR Social Search - Тестовий пошук</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- MAIN STYLE SECTION-->
    <link href="assets/plugins/isotope/isotope.css" rel="stylesheet" media="screen" />
    <link href="assets/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="assets/plugins/IconHoverEffects-master/css/component.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link id="mainStyle" href="assets/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <!-- END MAIN STYLE SECTION-->
</head>
<!-- END HEAD SECTION-->

<!-- BODY SECTION-->
<body>

<!-- HEADER SECTION-->
<div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-bars mobile-bars" style=""></span>
            </button>
            <a class="navbar-brand" href="https://sonar-service.herokuapp.com" >
                <img src="assets/img/logo.jpg" height="40" alt="SONAR" /> <!-- logo here-->
            </a>
        </div>
        <div class="navbar-collapse collapse" data-scrollreveal="enter from the right 50px">
            <ul class="nav navbar-nav">
                <li class=""><a href="/status"><</a></li><!-- menu links-->
                <li class=""><a href="https://sonar-bing-soothsayer.herokuapp.com/status">Bing</a></li><!-- menu links-->
                <li><a href="https://sonar-social-search.herokuapp.com/status">Social</a></li>
                <li><a href="https://sonar-blogs-search.herokuapp.com/status">Blogs</a></li>
                <li><a href="https://bitbucket.org/500thsay3R/sonar-google-search">BitBucket</a></li>
            </ul>
        </div>

    </div>
</div>
<!-- END HEADER SECTION-->

<!--PAGE CONTENT-->
<!-- HOMEPAGE SECTION-->

<section id="Homepage">
    <div class="container">
        <div class="row">
            <div data-scrollreveal="wait 0.5s and then ease-in-out 50px" class="col-md-6 col-md-offset-3">

                <div class="align-center">
                    <h2 class="main-text">Sonar Social Search</h2>
                    <p class="heading-text">Пробний пошук</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div data-scrollreveal="enter from the left 500px" class="col-md-6 col-md-offset-3">

                <div class="align-center">
                    <form action="/twitter" name="testScanForm" method="post" enctype="multipart/form-data">
                        <input type="text" placeholder="Основний ключ" name="query" ng-model="query" required>
                        <br/>
                        <input type="text" placeholder="Додатковий ключ" name="keys" ng-model="keys">
                        <br/>
                        <input type="text" placeholder="Код країни" name="locale" ng-model="locale">
                        <p class="heading-text">Пошуковий метод:</p>
                        <select name="method">
                            <option value="google">Twitter</option>
                        </select>
                        <br/>
                        <br/>
                        <input type="submit" class="btn btn-default" value="Пошук">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END HOMEPAGE SECTION-->
<!-- ABOUT SECTION-->
<section id="section-about" class="section">
    <div class="container" data-scrollreveal='after 0.30s'>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div>
                    <h2 class="heading">Про сервіс</h2>
                    <p class="heading-text">
                        Sonar Social Search невпинно аналізує нові публікації Facebook, Twitter та Google+, щоб
                        надати всім клієнтам виключно впливові та релевантні результати.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER SECTION-->
<section id="footer" class="section footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 align-center">
                <p>Sonar Social Search - частина системи Sonar Service</p>
                <p>Зроблено в Україні </p>
            </div>
        </div>
    </div>


</section>
<!-- END FOOTER SECTION-->


</body>

<!--END  BODY SECTION-->
</html>