/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
/* === fontawesome === */
@import url('../plugins/font-awesome/font-awesome.css');
/* ==== animate styles ==== */
@import url('../plugins/animate/animate.css');
/*==========================================================================
  General
  ========================================================================== */
body {
	color:#000;
	background: #fff;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	text-shadow: none;
    
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Varela Round', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	color:rgba(1, 82, 255, 0.54);
}

h1,h2,h3,h4,h5,h6 {
	font-style: normal;
	margin:30px 0 40px 0;
}
h1 { font-size: 50px; line-height: 30px; }
h2 { font-size: 40px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
.txt-uppercase { text-transform: uppercase; }


a:hover {
	text-decoration: none;
}

:focus {
	outline: none;
}

.color-white.txt-shadow {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.t-uppercase {
	text-transform: uppercase;
}

.row {
	z-index: 9999;
}

.content,.container {
	overflow: hidden;
}

.section {
	margin:0;
	padding: 50px  0 30px ;
}

.heading {
    color:#fff;
}

.heading-text{
    color:#fff;
}

.navbar {
	line-height: 60px;
	height: 60px;
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0;
	padding-bottom:0;
    background-color: #000;
}

.navbar .navbar-collapse {
	margin-bottom: 0;
	padding-bottom:0;
}

.nav li {
	height: 100%;
	line-height: 100%;
	margin-bottom: 0;
	padding-bottom:0;
}

.nav>li>a {
	display: table-cell;
	height: 100%;
	line-height: 100%;
	vertical-align: middle;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.nav>li>a:hover {
	color: #37AFFF;
	background: none;
}

.navbar-nav {
	float: right;
	margin-bottom: 0;
	padding-bottom:0;	
}

.navbar .navbar-nav > .active > a {
	color: #fff;
}
.navbar .navbar-nav > .active > a {
	padding-bottom: 22px;
}

h1 a.navbar-brand {
	font-size: 24px;
	color: #fff;
	font-weight: 900;
	text-shadow: none;
}

.navbar-brand {
	padding: 0;
	display: table-cell;
	vertical-align: middle;
    margin-top: 10px;
}

.navbar-brand img {
	vertical-align: middle;
}

.navbar-toggle {
	padding: 0;
	margin: 0;
	width: 80px;
}

.navbar-collapse.in {
	margin-top: -5px !important;
}


/*===========================
  --- Home Page section ----
=========================== */


#Homepage {
    padding: 100px 0 60px;
    background-color:#E69351;
}


.main-text {
	font-size: 40px;
	font-weight: 900;
    color:#fff;
}
  


/*==========================
About Section
=========================== */
#section-about {
   background-color: #E69351;
}
.member-photo {
	box-sizing:border-box;
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;	
	margin: 0 0 20px 0;
}
.member-photo img {
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;	
}

.team-detail h4 {
	font-weight: 700;
}


/*===========================
  Work Section
============================ */

#filter {
    padding-top: 20px;
}
#section-works {
    background-color: #37AFFF;
}
nav#filter a {
    padding: 10px!important;
	background-color: #EEE;
	color:#555;
}
nav#filter a:hover, nav#filter a.current {
	background-color: #44BCDD;
	color:#fff;
}

/* ------- */
.isotopeWrapper article{
    margin-bottom: 20px;
}

#portfolio img  {
	width:100%;
}

#portfolio article p {
	margin-bottom:1.45em;/*set next row on the baseline*/
}
nav#filter {
	margin-bottom:-0.5em;
}

nav#filter li {
	display:inline-block;
	margin:0 0 10px 5px;
}
nav#filter a {
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
}


.portfolio-items article img {width:100%;height: 280px;} 

.portfolio-item {
	display: block;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    border: 1px solid #B3B1B1;
}
.portfolio-item img {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;

}
.portfolio-item .portfolio-desc {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
	left: 0;
	top: 0;
	color: rgb(220, 220, 220);
}


.portfolio-item:hover .portfolio-desc {
	padding-top: 20%;
	height: 100%;
    transition: all 200ms ease-in-out 0s;
	opacity: 1;
}

.portfolio-item .portfolio-desc a {
	color: #fff;
}
.portfolio-item .portfolio-desc a:hover {
	text-decoration: none;
}
.portfolio-item .portfolio-desc .folio-info {
	top:-20px;
	padding: 30px;
	height: 0;
    opacity: 0;
    position: relative;
}

.portfolio-item:hover .folio-info{
	height: 100%;
    opacity: 1;
    transition: all 500ms ease-in-out 0s;
	top:5px;
}



.portfolio-item .portfolio-desc .folio-info h5 {
	text-transform: uppercase;
}
.portfolio-item .portfolio-desc .folio-info p {
	color: #ffffff;
	font-size: 12px;
}

/*===========================
  --- Services Section----
=========================== */
#section-services {
    background-color: #37AFFF;
}
/*===========================
  --- Contact Section----
=========================== */
#section-contact {
    background-color: #37AFFF;
}
.validation {
	display:none;
	margin: 0 0 20px;
	font-weight:400;
	font-size:13px;
}


#contact-form {
	position: relative;
	z-index: 999;
    margin-top: 50px;
}

#contact-form input[type=text],#contact-form input[type=email], .contactForm textarea {
	width: 100%;
	background: rgba(245, 245, 245, 1);
	border: 0;
	font-size:14px;
	text-align: left;
	vertical-align: middle;
	padding:0 10px;
}

#contact-form input[type=text],#contact-form input[type=email] {
	height: 60px;
	margin-bottom:30px;
}
#contact-form input[type=submit] {
	color: #fff;
	width: 185px;
	height: 60px;
	text-shadow: none;
	font-size: 14px;
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0 0 20px 0;
	display: block;
	border: 0;
	text-transform: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#contact-form input[type=submit]:hover, #contact-form input[type=submit]:active {
	background: #43413e !important;
}
#contact-form textarea {
	padding-top: 1em;
}

textarea.form-control {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

div.Contact-response-output {
	max-width: 60%;
	text-align: center;
	margin-left: 40% !important;
	margin-top: 0.5em !important;
	padding: 0.5em !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.contact-not-valid-tip {
	color: #888;
	border: 1px dotted #ad3729 !important;
	width: 100% !important;
	left: 0 !important;
	padding: 0.5em !important;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}


.align-center {
    text-align:center;
}


/*=========================
  Footer
 ================= */

.footer {
	background: #242424;
	margin: 0;
    padding: 30px 0 10px; 
    color:#fff;
}

.copyright {
	text-align: center;
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

/* footer menu */
ul.footer-menu {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.footer-menu li {
	display: inline;
	margin: 0 5px;
}

a.scrollup{
	height:32px;
	width:32px;
	color:#fff;
	font-size:18px;
	line-height:32px;
	text-align:center;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:9999;
	opacity:0.5;
}
a.scrollup:hover{
	opacity:1;
	color:#fff;
}

/*===========================
  --- Social Components ----
=========================== */

/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, 
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/*===========================
  --- OTHER  CSS ----
=========================== */



/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #35A49C;
	box-shadow: 0 0 0 4px #37AFFF;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #35A49C;
	box-shadow: 0 0 0 8px  #37AFFF;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: rgb(153, 206, 255);
}

/* top bars */
.mobile-bars {
    color: white;
}

/* contact */
.validation {
	color:#ff0000;
}

/* footer */
.social-circle li a {
	background:#358AF7;
}
/* scrollup link */
a.scrollup{
	background:#358AF7;
}
/* Services icon */
.no-touch .hi-icon-effect-1a .hi-icon {
    background-color:#CACACA;
}
/*back color class*/

.bgcolor-whitesmoke {
    background-color: whitesmoke
}

.text-bold {
    font-weight:bold;
}
.txt30 {
    font-size:30px;
}
.margin-top50 {
    margin-top:50px;
}

/*==================================
 STYLE SWITCHER
 =================================== */


.panel {
position: absolute;
top: 160px;
left: 0;
display: none;
background: #000000;
border:1px solid #111111;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
width: 140px;
height: auto;
padding: 40px 5px 5px 5px;
filter: alpha(opacity=85);
opacity: .85;
height:185px;
z-index:999;
}

.panel p{
margin: 0 0 15px 0;
padding: 0;
color: #cccccc;
}

.panel a, .panel a:visited{
margin: 0;
padding: 0;
color: #9FC54E;
text-decoration: none;
border-bottom: 1px solid #9FC54E;
}

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid #ffffff;
}

a.trigger{
position: absolute;
text-decoration: none;
top: 160px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 20px 20px 20px;
font-weight: 700;
background:#333333 url(../img/plus_switch.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
z-index:999;
}

a.trigger:hover{
position: absolute;
text-decoration: none;
top: 160px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 20px 20px 20px;
font-weight: 700;
background:#222222 url(../img/plus_switch.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
}

a.active.trigger {
background:#222222 url(../img/minus_switch.png) 85% 55% no-repeat;
}
    #styledemo span {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin: 5px;
        padding: 5px;
        float: left;
        border: 1px solid #ddd;
        cursor: pointer;
    }

/* ========================================
Media queries
========================================= */
@media (min-width: 959px) and (max-width: 1199px) {
	.navbar-nav {
		margin-top: 20px;
	}
}

@media only screen and (min-device-width : 979px) and (max-device-width : 1024px)  {

	.navbar-nav {
		margin-top: 20px;
	}
}


@media only screen and (min-width: 768px) and (max-width: 959px) {

	.navbar-nav {
		margin-top: 20px;
	}
}
@media (max-width: 767px) {

	.navbar.navbar-fixed-top {
		background-color:rgba(0,0,0,1);
	}
	.navbar .navbar-collapse ul.nav {
		background-color: #000;
		width: 100%;
		float: none;
		margin:0;
		padding:0;
	}
	.navbar .navbar-collapse ul.nav li {
		border-bottom: 1px solid #1A1919;
	}
	
	
	.team-member,.col-lg-4 {
		margin-bottom: 30px;
	}
	
	
}